<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	    <title>Node Express </title>
		{{{_sections.head}}}
        <meta name="description" content="">
		<link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.css">
		<script src="/vendor/js/jquery-2.1.1.min.js"></script>
		<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body>
		<header><img src="/img/logo.png" alt="Meadowlark Travel Logo"></header>
	    <div class="container">
		    {{{body}}}
			<hr>
			<footer>
				<p>&copy; Meadowlark Travel 2014</p>
			</footer>
	    </div> <!-- /container -->        
    </body>
</html>
